# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
dataenv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Optional: ignore raw datasets if too large
# data/*.csv

# Ignore IDE/editor settings (optional)
.vscode/
